html, body, div {
  transition: all 0.3s ease;
  padding: 0px;
  margin: 0px;
  background-color: ghostwhite; }

.container {
  transition: all 0.3s ease;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 1em 1.5em;
  background-color: white;
  border-radius: 5px; }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

p {
  font-family: 'PT Serif', serif;
  font-size: 1.3em;
  line-height: 1.5em; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  width: 50vh;
  margin: 0 auto 10px; }

#loading-bar {
  position: fixed;
  margin-left: -1.5em;
  bottom: 0;
  z-index: 2;
  height: 10vh;
  background-color: ghostwhite;
  width: 100%;
  max-width: 700px;
  padding: 5px; }

progress {
  width: 100%;
  height: 100%; }

i {
  color: #dddddd; }

#next i, #prev i {
  color: #dddddd; }

#iconBox, #videoFrame {
  visibility: hidden; }

#next, #prev, #closeBtn {
  visibility: hidden;
  transition: all .2s ease-in-out; }
  @media screen and (min-width: 701px) {
    #next, #prev, #closeBtn {
      font-size: 1em; } }
  @media screen and (max-width: 700px) {
    #next, #prev, #closeBtn {
      font-size: .8em; } }
  #next:hover, #prev:hover, #closeBtn:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4); }
    #next:hover i, #prev:hover i, #closeBtn:hover i {
      color: #dddddd; }

#next, #prev, #closeBtn {
  cursor: pointer; }

#iconBox i {
  margin: 0 4px;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  @media screen and (min-width: 701px) {
    #iconBox i {
      font-size: 3em; } }
  @media screen and (max-width: 700px) {
    #iconBox i {
      font-size: 1.2em; } }
  #iconBox i:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    color: #3288e6; }

.creditRow {
  padding: .7em;
  font-size: 1.2em;
  overflow: hidden; }
  .creditRow.creditRow:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .creditRow.creditRow:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.creditName {
  float: left; }
  @media screen and (min-width: 600px) {
    .creditName {
      margin-left: 20%; } }

.creditEmail {
  font-style: italic;
  float: right; }
  @media screen and (min-width: 600px) {
    .creditEmail {
      margin-right: 20%; } }

.dropCap {
  float: left;
  color: #000;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia; }

aside {
  font-size: .85em;
  border: 2px dotted rgba(100, 100, 100, 0.8);
  max-width: 700px;
  float: right;
  padding: 1em;
  border-radius: 10px; }
  @media screen and (max-width: 700px) {
    aside {
      width: 100%;
      margin-bottom: 10px; } }
  @media screen and (min-width: 701px) {
    aside {
      width: 500px; } }
  aside p {
    padding: 0;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
